!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{lang: "en"}
  /<![endif]
  %head
    %meta{charset: "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= data.page.title
    / Included CSS Files
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

    / bootsrap cdn ^
    = stylesheet_link_tag "overrides.css", "bootstrap.min.css", "theme.css"
    = javascript_include_tag "foundation/modernizr.foundation"
    %link{rel: "alternate", type: "application/rss+xml", title: "RSS Feed", href: "feed.xml"}


  %body{class: page_classes}
    .row
      .site_headline_left
        %h1
          %a{href: "/", id: "headline"}= data.site.title
          %h4{id: "subheader"} a blog by ebdrummond
      .site_headline_right
        = link_to image_tag("github.png"), "http://github.com/ebdrummond", :target => "_blank"
        = link_to image_tag("linked_in.png"), "http://www.linkedin.com/pub/erin-drummond/a/59/943/", :target => "_blank"
        = link_to image_tag("twitter.png"), "http://twitter.com/ebdrummond", :target => "_blank"
      %hr
      .span8.offset1
        = yield
      / Application Javascript, safe to override
      = javascript_include_tag "app"
      .span4
        .panel{id: "nav-panel"}
          %h4
            %a{href: "/about.html"} About Me
          %h4
            %a{href: "/resume.html"} Resume
        .panel{id: "recent-articles"}
          #recentTab.active
            %h4 Recent Articles
            %ul{id: "recent-articles"}
              - blog.articles[0...10].each do |article|
                %li
                  %a{href: "#{article.url}"}
                    = article.title
                    \-
                    = article.date.strftime('%b %e')
        .panel{id: "recent-articles"}
          #tagsTab
            %h4 Tags
            %ul{id: "recent-articles"}
              - blog.tags.sort_by{|key, value| value.count}.reverse.each do |tag, articles|
                %li
                  %a{href: "#{tag_path tag}"}
                    = "#{tag} (#{articles.size})"