---
title: ebdrummond.com
pageable: true
per_page: 10
---
.row
  .twelve.columns
    - page_articles.each_with_index do |article, i|
      .panel
        %p
          %h3
            = link_to article.title, article
            \-
            = article.date.strftime('%b %e')
          %p= article.body

.row
  .six.columns
    .panel{id: "next-page"}
      - if paginate
        - if prev_page && next_page
          %strong= link_to 'Previous page', prev_page
          \&nbsp|&nbsp
          %strong= link_to 'Next page', next_page
        - if prev_page && !next_page
          %strong= link_to 'Previous page', prev_page
        - if next_page && !prev_page
          %strong= link_to 'Next page', next_page